.dialog-view-member {
  display: flex;
  flex-direction: column;
  min-height: 558px;
  min-width: 350px;

  .title {
    display: flex;
    align-items: center;
    padding: 0 1rem 1rem 1rem;
    border-bottom: 1px solid #eee;

    span {
      flex-grow: 1;
      font-size: 17px;
      font-weight: 600;
    }

    .close {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
      position: relative;

      &:hover {
        background: #f4f5f7;
        transition: 0.3s;
      }

      &:before,
      &:after {
        position: absolute;
        left: 15px;
        top: 4px;
        content: ' ';
        height: 25px;
        width: 1.5px;
        background-color: #9ba5af;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  .main {
    flex-grow: 1;
    padding: 0 1rem;
    overflow: hidden;

    display: flex;

    .friends {
      overflow-y: scroll;
      width: 288px;
      height: 390px;
      flex-grow: 1;

      &::-webkit-scrollbar {
        width: 8px;
        cursor: pointer;
      }
      &::-webkit-scrollbar-track {
        background: #fff;
      }
      &::-webkit-scrollbar-thumb {
        background: #b9c0c7;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #b9c0c7;
      }

      .item {
        display: flex;
        flex-direction: column;

        &_title {
          font-weight: 600;
          font-size: 14px;
        }
      }
      .list {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 0.5rem 0;
        border-radius: 4px;

        &:hover {
          background: #f4f5f7;
          transition: 0.3s;
        }

        &_item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          .info {
            display: flex;
            align-items: center;
            gap: 10px;
            .avatar {
              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
              }
            }
            .name {
              font-weight: 400;
              text-align: left;
              font-size: 14px;
              padding-right: 1rem;

              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              word-wrap: break-word;
            }
          }
          .option {
            justify-content: space-between;

            .menu {
              position: absolute;
              right: 8px;
              width: 150px;
              background: #fff;
              border-radius: 4px;
              z-index: 9999;
              box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
              border: 1px solid #eee;

              &-item {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5rem;

                &:hover {
                  background: #eee;
                  transition: 0.3s;
                }

                span {
                  cursor: pointer;
                  text-align: left;
                  font-size: 13px;
                  color: #001a33;
                  white-space: nowrap;

                  i {
                    margin-right: 8px;
                    font-size: 17px;
                    width: 18px;
                    height: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    line-height: normal;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: normal;
    line-height: 38px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 1rem;

    button {
      outline: none;
      border: none;
      cursor: pointer;
      padding: 0 16px;
    }

    .cancel {
      background: #e8eaef;
      color: #001a33;
    }
    .search {
      background: #0068ff;
      color: #fff;
    }
  }
}
