.homepage {
  display: flex;
  height: 100vh;
  max-height: 100vh;

  &-main {
    height: 100%;
    width: 100%;
    // background-image: url('../../../public/images/background.png');
    .img-home {
      height: 100%;
      width: 100%;
    }
  }
}
