.otp-register {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  padding: 20px;
  .title {
    font-size: 1.1rem;
    color: #333;
    font-weight: 400;
    text-align: center;
    line-height: 2rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    margin-top: 1rem;

    div {
      align-items: center;
    }
  }

  button {
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    font-size: 0.875rem;
    background-color: #0190f3;
    width: 100%;
    min-width: 210px;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
    font-weight: 500;
    border: 0 none;
  }
  .countdown-otp {
    font-size: 14px;
    color: red;
    padding-bottom: 1rem;
  }
  .send-otp-again {
    color: #0190f3;
    cursor: pointer;
  }
  .error {
    width: 100%;
    display: flex;
    font-size: 13px;
    color: red;
    justify-content: flex-start;
  }
}
