* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body,
html {
  font-family: Segoe UI, SegoeuiPc, San Francisco, Helvetica Neue, Helvetica,
    Lucida Grande, Roboto, Ubuntu, Tahoma, Microsoft Sans Serif, Arial,
    sans-serif;
}
